.header {
  background-color: #131921;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.header__logo {
  height: 40px;
  object-fit: contain;
  margin: 1em;
  margin-top: 1.5em;
}
